<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" 
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="/vehiculos_registro" class="nav-link">Vehículos</a></li>
                <li class="nav-item"><a href="/baterias" class="nav-link">Baterías</a></li>
                <li class="nav-item"><a href="/estadisticas" class="nav-link">Estadísticas</a></li>
                <li class="nav-item"><a href="/objetivo" class="nav-link">Objetivo proyecto</a></li>
                <li class="nav-item"><a href="/planeacion" class="nav-link">Planeación</a></li>
                <li class="nav-item"><a href="/diseno" class="nav-link">Diseño</a></li>
                <li class="nav-item"><a href="/desarrollador" class="nav-link">Sobre mi</a></li>
            </ul>
        </div>
    </div>
</nav>